<div class="content-wrapper">
    
    <div class="row">
          
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Reportes</h4>
              <p class="card-description">
                Informacion 
              </p>
              <div class="blockquote col-sm-12 col-md-10 col-lg-8 col-xl-8">
                
                  <button type="button" class="btn btn-inverse-light btn-fw btn-icon-text" (click)="productoPdf()">
                    <i class="icon-arrow-down-circle btn-icon-prepend"></i> Productos 
                  </button>
                
              </div>
              <div class="blockquote col-sm-12 col-md-10 col-lg-8 col-xl-8">
                
                <button type="button" class="btn btn-inverse-light btn-fw btn-icon-text" (click)="ingresoPdf()">
                  <i class="icon-arrow-down-circle btn-icon-prepend"></i> Ingresos 
                </button>
              
                <div class="col-md-10">
                  <label for="">Fecha Inicio: </label>
                    <input type="date"  name="fechaini" id="fechaini"  class="form-control" />        
                </div>

                <div class="col-md-10">
                  <label for="">Fecha Fin: </label>
                    <input type="date"  name="fechafin" id="fechafin"  class="form-control" />        
                </div>

              </div>

              <div class="blockquote col-sm-12 col-md-10 col-lg-8 col-xl-8">
                
                <button type="button" class="btn btn-inverse-light btn-fw btn-icon-text" (click)="ventaPdf()">
                  <i class="icon-arrow-down-circle btn-icon-prepend"></i> Ventas 
                </button>

                <div class="col-md-10">
                  <label for="">Fecha Inicio: </label>
                    <input type="date"  name="fechainiv" id="fechainiv"  class="form-control" />        
                </div>

                <div class="col-md-10">
                  <label for="">Fecha Fin: </label>
                    <input type="date"  name="fechafinv" id="fechafinv"  class="form-control" />        
                </div>

              </div>

          </div>
        </div>
      </div>

     
    
    </div>
  </div>
  