
<div class="content-wrapper">
    <div class="row">

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{page_title}}</h4>
                <p class="card-description"> Ingresa tu informacion</p>
                

                <form #usuarioregisterForm="ngForm" (ngSubmit)="onSubmit(usuarioregisterForm)" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-0 pl-0 forms-sample">
                    
                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="name">Nombre</label>
                        <input type="text" name="name" #name="ngModel" [(ngModel)]="usuario.name" class="form-control" placeholder="Ingrese nombre....." required/>        
                        <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                            Ingrese nombre
                        </small>
                    </div>

                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="surname">Apellido</label>
                        <input type="text" name="surname" #surname="ngModel" [(ngModel)]="usuario.surname" class="form-control" placeholder="Ingrese apellido....." required/>        
                        <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                            Ingrese apellido
                        </small>
                    </div>

                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="identificador">Identificador</label>
                        <input type="text" name="identificador" #identificador="ngModel" [(ngModel)]="usuario.identificador" class="form-control" placeholder="Ingrese identificador....." required/>        
                        <small *ngIf="!identificador.valid && identificador.touched" class="invalid-feedback d-block">
                            Ingrese identificador
                        </small>
                    </div>
                    
                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" class="form-control" placeholder="Ingrese email....." required/>        
                        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                            Ingrese email
                        </small>
                    </div>

                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="clave">Clave</label>
                        <input type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password" class="form-control" placeholder="Ingrese clave....." required/>        
                        <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                            Ingrese clave
                        </small>
                    </div>

                   

                   
                  
                    
                    <button type="submit" class="btn btn-success" [disabled]="usuarioregisterForm.invalid" title="Guardar">
                        <i class="icon-check"></i>
                    </button>
                    
                    <a [routerLink]="['/login']" class="btn btn-primary" title="Cancelar y regresar">
                        <i class="icon-close"></i>
                    </a>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
