

<div class="content-wrapper">
    <div class="row">
    
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{page_title}}</h2>
                <div class="form-group row">
                
      
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <a class="btn btn-primary" title="Nuevo" [routerLink]="['/nuevousuario']">
                            <i class="icon-plus"></i>
                        </a>
                    </div>    
      
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <div class="input-group">
                         <!--   <label for=""><h5> Buscar: </h5>&nbsp; </label> -->
                            <input type="text" class="form-control"   (keyup.enter)="buscarusuario(usuario.nombre, $event)" name="usuario2" #usuario2="ngModel" [(ngModel)]="usuario.nombre" placeholder="Buscar ...">
                            <button type="submit" class="btn btn-primary" (click)="buscarusuario(usuario.nombre, $event)">
                                <i class="fa fa-search"></i> 
                            </button>
                    
                        </div>
                    </div>
                
            
                </div>    
            

                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th> Id </th>
                                        <th> Nombre </th>
                                        <th>E-mail</th>
                                        <th>Identificador</th>
                                        <th> Rol </th>
                                        <th> Estado </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let usu of usuario | paginate: { itemsPerPage: 4, currentPage: p }">
                                        <td>{{usu.id}} </td>
                                        <td>{{usu.name}} {{usu.surname}}</td>
                                        <td>{{usu.email}}</td>
                                        <td>{{usu.identificador}}</td>
                                        <td>{{usu.role}}</td>
                                        <td>
                                            <div *ngIf="usu.condicion == 1" class="activo">
                                              Activo
                                            </div> 
                                            <div *ngIf="usu.condicion == 0" class="inactivo">
                                              Inactivo
                                            </div> 
                                        </td>
                                        <td>
                                            <a class="btn btn-info mr-1" [routerLink]="['/verusuario', usu.id]" data-toggle="tooltip" data-placement="top" title="Ver">
                                                <i class="icon-eye"></i>
                                              </a>
                                              <a class="btn btn-warning mr-1" [routerLink]="['/actualizarusuario', usu.id]" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="icon-pencil"></i>
                                              </a>
                
                                                <!-- Button trigger modal -->                 
                                                <button type="button" class="btn btn-danger" title="Desactivar" data-toggle="modal" [attr.data-target]="'#usuarioModal'+usu.id"  *ngIf="usu.condicion == 1" >
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="{{'usuarioModal'+usu.id}}" tabindex="-1" role="dialog" aria-labelledby="usuarioModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="usuarioModalLabel">¿Desactivar?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        Vas a desactivar {{usu.nombre}}
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" title="Cancelar" data-dismiss="modal">
                                                            <i class="icon-close"></i>
                                                        </button>
                                                        
                                                        <a class="btn btn-danger "  data-dismiss="modal"  (click)="activardesactivarusuario(usu.id)"  data-toggle="tooltip" data-placement="top" title="desactivar">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                            
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- Fin Modal -->
                
                
                 
                                                <!-- Button trigger modal -->                 
                                                <button type="button" class="btn btn-primary" title="Activar" data-toggle="modal" [attr.data-target]="'#usuarioModal2'+usu.id"  *ngIf="usu.condicion == 0" >
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="{{'usuarioModal2'+usu.id}}" tabindex="-1" role="dialog" aria-labelledby="usuarioModal2Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="usuarioModal2Label">¿Activar?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        <div class="modal-body">
                                                        Vas a activar {{usu.nombre}}
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" title="Cancelar" data-dismiss="modal">
                                                            <i class="icon-close"></i>
                                                        </button>
                                                        
                                                        <a class="btn btn-primary " data-dismiss="modal"  (click)="activardesactivarusuario(usu.id)"  data-toggle="tooltip" data-placement="top" title="Activar">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                            
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- Fin Modal -->
                                               
                              
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                                <pagination-controls (pageChange)="p = $event" 
                                previousLabel="Ant"
                                nextLabel="Sig"></pagination-controls>
                        </div>
                    </div>
                </div>


                
            </div>
            </div>
        </div>

    </div>
</div>
