
<div class="content-wrapper">
    <div class="row">


        <div class="col-12 grid-margin stretch-card">
            <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{page_title}}</h4>
                <p class="card-description"> Ingrese informacion</p>
                
                <form #proveedorForm="ngForm" (ngSubmit)="onSubmit(proveedorForm)" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ml-0 pl-0 forms-sample">
                    
                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="proveedor.nombre" class="form-control" placeholder="Ingrese nombre....." required/>        
                        <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                            Ingrese nombre
                        </small>
                    </div>

                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="direccion">Direccion</label>
                        <input type="text" name="direccion" #direccion="ngModel" [(ngModel)]="proveedor.direccion" class="form-control" placeholder="Ingrese direccion....." required/>        
                        <small *ngIf="!direccion.valid && direccion.touched" class="invalid-feedback d-block">
                            Ingrese direccion
                        </small>
                    </div>

                    
                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="identificador">Identificador</label>
                        <input type="text" name="identificador" #identificador="ngModel" [(ngModel)]="proveedor.identificador" class="form-control" placeholder="Ingrese identificador....." required/>        
                        <small *ngIf="!identificador.valid && identificador.touched" class="invalid-feedback d-block">
                            Ingrese identificador
                        </small>
                    </div>


                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="proveedor.telefono" class="form-control" placeholder="Ingrese telefono....." required/>        
                        <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">
                            Ingrese telefono
                        </small>
                    </div>

                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="celular">Celular</label>
                        <input type="text" name="celular" #celular="ngModel" [(ngModel)]="proveedor.celular" class="form-control" placeholder="Ingrese celular....." required/>        
                        
                    </div>

                    <div class="form-group col-sm-10 col-md-10 col-lg-12 col-xl-12">
                        <label for="foto" > Foto</label>
                        <div  *ngIf="proveedor.foto" class="mt-2 mb-3 ml-5">
                            <td><img src="{{url + '/proveedor/image/get/' + proveedor.foto}}" class="mediana"></td>
                        </div>  
                        <div  *ngIf="!proveedor.foto" class="mt-2 mb-3 ml-5">
                            <td><img src="/assets/img/sin-imagen.png" class="mediana"></td>
                        </div>  
                        
                        <angular-file-uploader 
                            [config]="afuConfig"
                            [resetUpload]=resetVar
                            (ApiResponse)="imageUpload($event)">
                        </angular-file-uploader>
                    </div>



                    <button type="submit" class="btn btn-success" [disabled]="proveedorForm.invalid" title="Guardar">
                        <i class="icon-check"></i>
                    </button>
                    
                    <a [routerLink]="['/proveedor']" class="btn btn-primary" title="Cancelar y regresar">
                        <i class="icon-close"></i>
                    </a>
                </form>
            </div>
            </div>
        </div>
    

    </div>
</div>
