
<div class="content-wrapper">
    
    <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{page_title}}</h4>
                <p class="card-description"> Informacion de tipo producto 
                </p>
                <div class="template-demo">
                    <h1>{{tipoproducto.descripcion}}</h1>
                    
                </div>
                <a [routerLink]="['/tipoproducto']" class="btn btn-danger float-right" title="Regresar">
                    <i class="icon-close"></i>
                </a>

            </div>
        </div>
    </div>
    </div>
</div>

 